
.signupLoginContainer {
    display: flex;
    align-items: center;
    height: 87vh;
    background-color: #f9f9f9;
    padding: 10px;
    flex-wrap: wrap;
    Gap:10px;
  }
  
  .formContainer {
    width: 40%;
    padding: 20px;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 10%;
  }
  
  
  .logoDiv {
    text-align: center;
    width:400px;
  }
  
  .logo {
    width: 170px;
  }
  
 
  .label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  

  .para {
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  
  .input {
    width: 60%;
    min-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .input:focus {
    outline: none;
    border-color: #fc8a06;
  }
  

  .inputError {
    border-color: red;
  }
  
  .error {
    color: red;
    font-size: 10px;
    margin: -10px 0 10px;
  }
  
 
  .button {
    width: 60%;
    padding: 10px;
    background-color: #fc8a06;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #e77b05;
  }
  

  .toggleText {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    text-align: center;
    width:360px;
  }
  
  .toggleLink {
    color: #fc8a06;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 5px;
  }
  

  .imageContainer {
    width: 40%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom:23px;
    margin-top: 20px;
    margin-bottom: 10px;
   
  }
  
  .imageContainer img {
    width: 100%;
    max-width: 490px;
    border-radius: 10px;
  }
  

  @media screen and (max-width: 1024px) {
    .signupLoginContainer {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: auto;
      padding: 20px;
    }
  

    .toggleText {
        text-align: center;
    }

    .formContainer {
      width: 80%;
      margin: 10px 0;
      padding: 20px;
    }
  
    .imageContainer {
      width: 80%;
      margin-top: 20px;
    }
  
    .input {
      width: 100%;
      min-width: unset;
    }
  
    .button {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .formContainer {
      width: 90%;
    }
  
    .imageContainer {
      display: none; 
    }

    .toggleText {
        text-align: center;
    }
  
    .logo {
      width: 120px;
    }
  
    .para {
      font-size: 11px;
    }
  
    .button {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .formContainer {
      padding: 15px;
    }
  
    .input {
      font-size: 13px;
      padding: 8px;
    }
  
    .button {
      padding: 8px;
      font-size: 13px;
    }
  
    .toggleText {
      font-size: 12px;
    }
  
    .logo {
      width: 100px;
    }
  }
  